<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devil.notes"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.devil.notes.Loginpage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.devil.notes.Signup" />
        <activity android:name="com.devil.notes.Profdiv" />
        <activity android:name="com.devil.notes.Search" />
        <activity android:name="com.devil.notes.Upload" />
        <activity android:name="com.devil.notes.Submitnotes" />
        <activity android:name="com.devil.notes.Note" />
        <activity android:name="com.devil.notes.Loginpage1" />
        <activity android:name="com.devil.notes.TabsPagerAdapter" />
        <activity android:name="com.devil.notes.NotesFragement" />
        <activity android:name="com.devil.notes.AssignmentFragement" />
        <activity android:name="com.devil.notes.QuizesFragement" />
        <activity android:name="com.devil.notes.Clges" />
        <activity android:name="com.devil.notes.CollapseAnimation" />
        <activity android:name="com.devil.notes.CustomGrid" />
        <activity android:name="com.devil.notes.Item" />
        <activity android:name="com.devil.notes.Handlers" />
        <activity android:name="com.devil.notes.scrolltab" />
        <activity android:name="com.devil.notes.LayerStack" />
        <activity
            android:name="com.devil.notes.Purpose"
             android:label="@string/title_activity_purpose"
            android:theme="@android:style/Theme.Dialog" />
        <!-- android:name="com.example.notes.NotesActivity -->
        <activity android:name="com.devil.notes.Forgot" />
          android:theme="@android:style/Theme.NoTitleBar"
        <activity
            android:name="com.devil.notes.NotesActivity"
            android:label="@string/title_activity_notes" >
        </activity>
        <activity
            android:name="com.devil.notes.Members"
            android:label="@string/title_activity_members" >
        </activity>
        <activity
            android:name="com.devil.notes.NewNotes"
            android:label="@string/title_activity_new_notes" >
        </activity>
        <activity
            android:name="com.devil.notes.NewsFeed"
            android:label="@string/title_activity_news_feed"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.devil.notes.Chatroom"
            android:label="@string/title_activity_chatroom" >
        </activity>
        <activity
            android:name="com.devil.notes.Usernotes"
            android:label="@string/title_activity_usernotes" >
        </activity>
        <activity
            android:name="com.devil.notes.Notesdetail"
            android:label="@string/title_activity_notesdetail"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.devil.notes.Base"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name="com.devil.notes.MainActivity1"
            android:label="@string/title_activity_main_activity1" >
        </activity>
    </application>

</manifest>